<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Writing, Videos, and Stuff from a NYC Writer">
    <meta name="author" content="Peter Andre">

    <title>Like Medicine After Death - A Short Play - Not That Peter Andre</title>    
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Arvo:400,400italic,700' rel='stylesheet' type='text/css'>    
    <link href="../styles/cover.css" rel="stylesheet">
    <link rel="icon" href="../favicon.png" sizes="32x32" type="image/png">
    <script src="../scripts/modernizr-custom.js" type="text/javascript"></script>        
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
            <li id="ntpa-header">
              <a href="../index.html">
                <picture>
                  <source media="(max-width: 580px)" srcset="../images/vector_nav_logo_small.png">
                  <source media="(max-width: 999px)" srcset="../images/vector_nav_logo.png">
                  <img id="ntpa-image" alt="Not That Peter Andre" src="../images/vector_short_name.png">
                </picture>
              </a>
            </li>
          </ul> 
        </div>        
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
            <li class="navbar-text"><a href="features.html">FEATURES</a></li>
            <li class="navbar-text"><a href="plays.html">PLAYS</a></li>
            <li class="navbar-text"><a href="books.html">BOOKS</a></li>
            <li class="navbar-text"><a href="videos.html">VIDEOS</a></li>
          </ul>       
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/PeterJAndre" target="_blank"><span class="media-right"><img src="../images/twitter_outline.png" alt="Twitter"></span></a></li>
            <li><a href="https://instagram.com/PeterJAndre" target="_blank"><span class="media-right"><img src="../images/ig_outline.png" alt="Instagram"></span></a></li>
            <li><a href="https://facebook.com" target="_blank"><span class="media-right"><img src="../images/fb_outline.png" alt="Facebook"></span></a></li>
          </ul> 
        </div>

      </div>
    </nav>

<div class="fullscreen modal2">
  <div class="modal-content2">
    <h3>This play is <b>FREE</b> to read, <b>FREE</b> to perform.</h3>
    <p>
      The short plays on this website are licensed under a <a class="link-typical"rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. You may read it for fun, produce it commercially, or adapt it for your own purposes. If you do produce it, please credit me and contact me so I know it's being produced somewhere - that way I can promote your show too!
    </p>
    <div class="btn modal-btn" id="ph">PRODUCTION HISTORY</div>
    <a href="../pdfs/Like_Medicine_After_Death.pdf" download><div class="btn modal-btn">DOWNLOAD PDF</div></a>
      <div id="closebox">
        <svg viewBox="0 0 100 100">
          <path class="close-x" d="M 10,10 L 100,100 M 100,10 L 10,100" />
        </svg>
      </div>
  </div>
</div>

<div class="modal3">
  <div class="modal-content3">
    First produced at the College of William and Mary, Williamsburg, VA, March 2006.<br /><br />
    Produced by Dramatis Personae in Chicago, February 2009.
  </div>
</div>

<div id="lmad-splash">
  <h1 class="play-title" id="lmad-title">Like Medicine After Death</h1>
</div>

  <div class="extra-play-content" id="more-button">
    MORE&hellip;
  </div>

  <a href="#">
    <div class="extra-play-content" id="backtotop">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </div>
  </a>
<div class="lmad">
<div class="container lmad-body">

<div id="table-stage">
  <div id="male-table-pic" class="table">
  </div>
  <div id="female-table-pic" class="table">
  </div>
  <div id="preston" class="male-piece piece">
  </div>
  <div id="ryan" class="male-piece piece">
  </div>
  <div id="cathee" class="female-piece piece">
  </div>
  <div id="lisa" class="female-piece piece">
  </div>    
  <div id="waitress" class="waitress-piece piece">
  </div>  
</div>
<div id="lmad-trigger01"></div>
<div class="stagedir">
  <p>Two café tables at a tiny bistro. At one table sits PRESTON, who has spent the last ten minutes making faces into the curve of his spoon. At the other table sits CATHEE, who has spent the last ten minutes taking selfies.</p>
  <div id="lmad-trigger02"></div>  
  <p>Simultaneously, RYAN and LISA enter from opposite sides of the stage and sit with their respective gender.</p>
  <p>The couples at each table are not aware of the other couple’s presence.</p>
</div>

<div class="container">
  <p class="male-table">PRESTON<br/>
  Dude!</p>
  <p class="female-table">CATHEE<br/>
  Darling!</p>
  <p class="male-table">RYAN<br/>
  Hey man.</p>
  <p class="female-table">LISA<br/>
  Hey Cathee.</p>
  <p class="male-table">PRESTON<br/>
  So&hellip;</p>
  <p class="female-table">CATHEE<br/>
  How did it go?</p>
  <p class="male-table">PRESTON<br/>
  Did you do it?</p>
  <p class="female-table">LISA<br/>
  Well&hellip;</p>
  <p class="male-table">RYAN<br/>
  No. I didn’t.</p>
  <p class="female-table">LISA<br/>
  Terrible. I didn’t do it.</p>
  <p class="male-table">PRESTON<br/>
  Dude!</p>
  <p class="female-table">CATHEE<br/>
  Why not?</p>
  <p class="male-table">RYAN<br/>
  It’s not that easy.</p>
  <p class="female-table">LISA<br/>
  It’s not that simple.</p>
  <p class="male-table">PRESTON<br/>
  Dude!</p>
  <p class="female-table">LISA<br/>
  I wanted to, but it just wasn’t the right time.</p>
  <p class="male-table">RYAN<br/>
  It wasn’t the right place. A Starbucks?</p>
  <p class="female-table">CATHEE<br/>
  No more excuses. It needs to happen now.</p>
  <p class="male-table">PRESTON<br/>
  Rip it off like a Band-Aid, man. One quick rip and it’s over.</p>
  <p class="female-table">CATHEE<br/>
  He’s bringing you down, my dear. Like a parasite.</p>
  <p class="male-table">PRESTON<br/>
  It may leave a scar, you know, but pour some Neosporin on that sucker&hellip;</p>
  <p class="female-table">CATHEE<br/>
  Sucking like a parasite sucks.</p>
  <p class="stagedir female-table">Cathee makes sucking noises.</p>
  <p class="male-table">PRESTON<br/>
  Neosporin will heal those scars right up.</p>
  <p class="male-table">RYAN<br/>
  What are you talking about?</p>
  <p class="male-table">PRESTON<br/>
  Eh, I lost the metaphor.</p>
  <p class="female-table">LISA<br/>
  I need a drink.</p>
</div>
<div id="lmad-trigger03"></div>
<div class="stagedir">
  <p>The WAITRESS enters and walks over to the women’s table, taking their order.</p>
</div>

<div>
  <p class="male-table">RYAN<br/>
  I don’t know why this is so hard. I just need to do it and be done with it.</p>
  <p class="male-table">PRESTON<br/>
  That’s what I was saying, dude. The Band-Aid thing!</p>
  <p class="male-table">RYAN<br/>
  That made no sense.</p>
  <p class="male-table">PRESTON<br/>
  Sure it did. Neosporin! Heals scars fast.</p>
  <p class="male-table">RYAN<br/>
  If you already have a scar, Neosporin does nothing.</p>
  <p class="male-table">PRESTON<br/>
  Okay, but like, Neosporin represents other chicks, right? Riiiight?</p>
  <p class="male-table">RYAN<br/>
  <span class="paren">(sarcastically acting like he’s in agreement, then:)</span><br/>
  Ahhh&hellip;No.</p>
  <p class="male-table">PRESTON<br/>
  You’ll see.</p>
</div>
<div id="lmad-trigger04"></div>
<div>
  <p class="stagedir">The waitress walks over to the men’s table.</p>
  <p class="male-table">WAITRESS<br/>
  Hi, my name’s Annie, I’ll be taking care of you today.</p>
</div>

<div>
  <p class="female-table">CATHEE<br/>
  I thought you were going to break up with him six months ago.</p>
  <p class="female-table">LISA<br/>
  I know, I still am, but&hellip;he just has one of those faces.</p>
  <p class="female-table">CATHEE<br/>
  One of those faces that can’t understand he’s being broken up with?</p>
  <p class="female-table">LISA<br/>
  A puppy dog face. When he gets sad, his eyes get all droopy, his lower lip sticks out, and&mdash; it’s just torture. When I tell him, it’s gonna kill him.</p>
  <p class="female-table">CATHEE<br/>
  So text him.</p>
  <p class="female-table">LISA<br/>
  I am not going to break up with him through a text.</p>
  <p class="female-table">CATHEE<br/>
  Why not? Your relationship began with one, so it’s only natural it should end the same way. Circle of life, darling.</p>
  <p class="female-table">LISA<br/>
  Ryan and I are too serious to not have a face-to-face.</p>
  <p class="female-table">CATHEE<br/>
  Chad and I were serious. I mean, for me.</p>
  <p class="female-table">LISA<br/>
  You broke up with Chad with a text?</p>
  <p class="female-table">CATHEE<br/>
  Oh God yes. Best move I ever made.</p>
  <p class="female-table">LISA<br/>
  What did he do?</p>
  <p class="female-table">CATHEE<br/>
  He sent me back a sad face. He was brief in all areas of our relationship, if you get me. It’s why I had to end things.</p>
  <p class="female-table">LISA<br/>
  Clearly.</p>
</div>

<div id="lmad-trigger05"></div>
<div class="stagedir">
  <p>The waitress exits.</p>
</div>

<div>
  <p class="male-table">RYAN<br/>
  Question.</p>
  <p class="male-table">PRESTON<br/>
  Shoot.</p>
  <p class="female-table">LISA<br/>
  So how do I break up with Ryan without hurting him?</p>
  <p class="male-table">RYAN<br/>
  How do I break up with Lisa and still be friends?</p>
  <p class="stagedir female-table">CATHEE laughs.</p>
  <p class="female-table">LISA<br/>
  Why are you laughing?</p>
  <p class="male-table">PRESTON<br/>
  You want to keep the late night hookup option?</p>
  <p class="female-table">CATHEE<br/>
  Hurting him? My dear...</p>
  <p class="male-table">RYAN<br/>
  No, just friends. Platonic friends.</p>
  <p class="female-table">LISA<br/>
  “My dear”? Why do you keep talking like that?</p>
  <p class="male-table">PRESTON<br/>
  Platonic?</p>
  <p class="female-table">CATHEE<br/>
  My class is doing scenework from Gone With The Wind. I’m Clark Gable.</p>
  <p class="male-table">PRESTON<br/>
  Men and women cannot be friends because the sex part gets in the way.</p>
  <p class="female-table">CATHEE<br/>
  I have to live the part, my dear. And frankly, I don’t give a damn what you think!</p>
  <p class="male-table">RYAN<br/>
  That’s from When Harry Met Sally.</p>
  <p class="female-table">LISA<br/>
  <span class="paren">(sarcastic)</span><br />
  Oh yes. From the movie. You’re quite good.</p>
  <p class="male-table">PRESTON<br/>
  Doesn’t make it any less true.</p>
  <p class="female-table">CATHEE<br/>
  Fine, I’ll stop.</p>
  <p class="male-table">RYAN<br/>
  Oh God.</p>
  <p class="female-table">CATHEE<br/>
  Bathroom?</p>
</div>

<div id="lmad-trigger06"></div>
<div class="stagedir">
  <p>The women exit.</p>
</div>

<div>
  <p class="male-table">PRESTON<br/>
  Name one girl you’ve been friends with that you didn’t want to sleep with.</p>
  <p class="male-table">RYAN<br/>
  Tracie.</p>
  <p class="male-table">PRESTON<br/>
  Tracie doesn’t count. Tracie was weird looking.</p>
  <p class="male-table">RYAN<br/>
  She was really sweet! I can’t believe you’re saying that.</p>
  <p class="male-table">PRESTON<br/>
  I’m not the only one. Remember in school? They’d only let her model when the art students were working on their cubist paintings.</p>
  <p class="male-table">RYAN<br/>
  You’re terrible and I don’t know why I’m listening to you.</p>
  <p class="male-table">PRESTON<br/>
  I may not be Mr. Casanova with the ladies, but I am a pro at getting rid of them. You’ve been with Lisa for what, like, two years? You can’t tell me you’re not dying to be single.</p>
  <p class="male-table">RYAN<br/>
  First off, it’s just a Casanova. No mister.</p>
  <p class="male-table">PRESTON<br/>
  Casanova was his first name?</p>
  <p class="male-table">RYAN<br/>
  No, you can just say Casanova. Like Cher is just Cher.</p>
  <p class="male-table">PRESTON<br/>
  Who wants to be a Cher?</p>
  <p class="male-table">RYAN<br/>
  Forget it. All I want to do is end things on good terms.</p>
  <p class="male-table">PRESTON<br/>
  Impossible.</p>
  <p class="male-table">RYAN<br/>
  Why?</p>
  <p class="male-table">PRESTON<br/>
  You’re asking for the impossible. The mutual break-up. Found in the daydreams of emotional wimps perhaps, but never in real life.</p>
  <p class="male-table">RYAN<br/>
  So what do I do then?</p>
  <p class="male-table">PRESTON<br/>
  Make yourself so unattractive that she has to break up with you. Put the ball in her court.</p>
  <p class="male-table">RYAN<br/>
  Oh, I just love your metaphors.</p>
  <p class="male-table">PRESTON<br/>
  Analogies.</p>
  <p class="male-table">RYAN<br/>
  It’s a metaphor.</p>
  <p class="male-table">PRESTON<br/>
  Let me break it down for you, my friend. You can’t bring yourself to dump her, right? So be a dick to her until she has to do the dirty work. Make her pay when you go out, be selfish in bed, fart whenever possible&mdash; speaking of which, safety&mdash;</p>
  <p class="male-table">RYAN<br/>
  <span class="paren">(smelling it)</span><br/>
  Oh, God, "safety"? What are we, in middle school?</p>
  <p class="male-table">PRESTON<br/>
  I hated middle school. The only thing that made puberty bearable was raiding my dad’s liquor cabinet in celebration of my balls dropping.</p>
  <div id="lmad-trigger07"></div>
  <p class="male-table stagedir">The waitress enters with the men’s drinks. Awkward beat.</p>
  <p class="male-table">WAITRESS<br/>
  <span class="paren">(handing drink to Preston)</span><br/>
  Jack and coke?</p>
  <p class="male-table">PRESTON<br/>
  But of course.</p>
  <p class="male-table">WAITRESS<br/>
  <span class="paren">(handing drink to Ryan)</span><br/>
  And an iced tea.</p>
  <p class="male-table">PRESTON<br/>
  Pussy.</p>
  <p class="male-table">WAITRESS<br/>
  Excuse me?</p>
  <p class="male-table">PRESTON<br/>
  Not you. Him. He’s the pussy.</p>
  <p class="male-table">WAITRESS<br/>
  So, have you decided on an entrée?</p>
</div>

<div id="lmad-trigger08"></div>
<div class="stagedir female-table">
  <p>The women reenter from the bathroom as the men order.</p>
</div>

<div>
  <p class="female-table">CATHEE<br/>
  &mdash;you answer a modeling ad on Craigslist, you hope it’s legit. He did have very nice equipment. Camera equipment. But these guys always end up showing their true colors. I mean, this guy thought he was Mr. Casanova. And when he told me to take my panties off, that was the last straw.</p>
  <p class="female-table">LISA<br/>
  Unbelieveable. What did you say?</p>
  <p class="female-table">CATHEE<br/>
  I kicked him in the balls.</p>
  <p class="female-table">LISA<br/>
  No way. You’re joking.</p>
  <p class="female-table">CATHEE<br/>
  Would I lie to you? I kicked him in the balls, and he went down like that. Maybe you should try it on Ryan.</p>
  <p class="female-table">LISA<br/>
  Haha! No!</p>
  <p class="female-table">CATHEE<br/>
  I’m serious. A man kicked in the balls is utterly helpless. You could dump him and still make him pay for dinner. </p>
  <p class="female-table">LISA<br/>
  It’s tempting, but I don’t think I’ll go that route.</p>
  <p class="female-table">CATHEE<br/>
  So if you’re not interested in hurting him emotionally or physically, why are you even breaking up with him?</p>
  <p class="female-table">LISA<br/>
  <span class="paren">(unsure)</span><br/>
  It’s a lot of things, really.</p>
  <p class="female-table">CATHEE<br/>
  Like what?</p>
  <p class="female-table">LISA<br/>
  Well&hellip;for one, the sex is terrible.</p>
  <p class="female-table">CATHEE<br/>
  Shut up. Details!</p>
  <p class="female-table">LISA<br/>
  His friend bought him this kama sutra book for Christmas.</p>
  <p class="female-table">CATHEE<br/>
  Oh dear.</p>
  <p class="female-table">LISA<br/>
  He started referring to sex as “congress,” and started calling his penis the “lingam.”</p>
  <div id="lmad-trigger09"></div>
  <p class="stagedir">The waitress walks over and sets their drinks down on the table.</p>
  <p class="female-table">WAITRESS<br/>
  Can I take your lingam&mdash;uhh, order?</p>
</div>

<div>
  <p class="male-table">PRESTON<br/>
  Dude, our waitress is gorgeous.</p>
  <p class="male-table">RYAN<br/>
  <span class="paren">(mocking)</span><br/>
  You should do her.</p>
  <p class="male-table">PRESTON<br/>
  I should, man. She has a great ass.</p>
  <p class="male-table">RYAN<br/>
  Leave your phone number on the receipt. Chicks love that.</p>
  <p class="male-table">PRESTON<br/>
  Really?</p>
  <p class="male-table">RYAN<br/>
  I’m joking, you shithead.</p>
  <p class="male-table">PRESTON<br/>
  Oh, very funny. Here I am, giving you pearls of wisdom&mdash;</p>
  <p class="male-table">RYAN<br/>
  Movie quotes.</p>
  <p class="male-table">PRESTON<br/>
  &mdash;pearls of wisdom with your current situation, and you repay me with sarcasm.</p>
  <p class="male-table">RYAN<br/>
  You’re right. You should get a gold star!</p>
  <p class="male-table">PRESTON<br/>
  All I ask is for a simple thank you. But I’m more of a selfless person than you are.</p>
  <p class="male-table">RYAN<br/>
  Selfless, right. Weren’t you just commenting on the waitress’s hot ass a second ago?</p>
  <p class="male-table">PRESTON<br/>
  Exactly. Thinking of her nice ass.</p>
  <p class="male-table">RYAN<br/>
  I can’t believe I’m taking advice from you.</p>
  <p class="male-table">PRESTON<br/>
  Well, what do you want, man? I don’t even know why you’re breaking up with this girl in the first place.</p>
  <p class="male-table">RYAN<br/>
  I don’t even know half the time. Well&hellip;to be honest&hellip;</p>
  <p class="male-table">PRESTON<br/>
  Dude&hellip;</p>
</div>

<div id="lmad-trigger10"></div>
<div class="stagedir">
  <p>The waitress exits.</p>
</div>

<div>
  <p class="male-table">RYAN<br/>
  It’s the sex life.</p>
  <p class="female-table">LISA<br/>
  So&hellip;the sex.</p>
  <p class="male-table">RYAN<br/>
  It’s frustrating.</p>
  <p class="female-table">LISA<br/>
  Totally awkward.</p>
  <p class="male-table">RYAN<br/>
  She just lies there. Totally uninterested.</p>
  <p class="female-table">LISA<br/>
  He has no idea how to please me.</p>
  <p class="male-table">RYAN<br/>
  And I’m trying every trick in the book.</p>
  <p class="female-table">LISA<br/>
  This kama sutra book, right?</p>
  <p class="male-table">RYAN<br/>
  Literally. That book you gave me&mdash;</p>
  <p class="female-table">CATHEE<br/>
  Oh ho ho, I thought you were joking!</p>
  <p class="male-table">PRESTON<br/>
  That book?</p>
  <p class="female-table">LISA<br/>
  I wish.</p>
  <p class="male-table">RYAN<br/>
  Dude, that book is the shit!</p>
  <p class="male-table stagedir">The men high five.</p>
  <p class="female-table">LISA<br/>
  So now he wants to try “crushing spices,” “the jewel case,” and my personal favorite, “the congress of the crow,” and I’m like, can’t we work on the basics first?</p>
  <p class="male-table">RYAN<br/>
  But she isn’t having any of it.</p>
  <p class="female-table">CATHEE<br/>
  How embarrassing.</p>
  <p class="male-table">RYAN<br/>
  I don’t know what I can do to get her into the K Sooch.</p>
  <p class="female-table">LISA<br/>
  It took everything in my power to hold it together when he offered to “suck my mango.”</p>
  <p class="male-table">PRESTON<br/>
  She must be a prude.</p>
  <p class="female-table">CATHEE<br/>
  Understandably.</p>
  <p class="male-table">RYAN<br/>
  No, I don’t think that’s it. But whatever, it’s just terrible in the bedroom.</p>
  <p>RYAN AND LISA<br/>
  Is that enough to dump her/him?</p>
  <p class="stagedir">Beat.</p>
</div>

<div>
  <p>CATHEE AND PRESTON<br/>
  YES!</p>
  <p class="male-table">PRESTON<br/>
  She’s not feeling the K Sooch, dude!</p>
  <p class="female-table">CATHEE<br/>
  You want terrible sex for the rest of your life?</p>
  <p class="male-table">PRESTON<br/>
  This stuff has been around for like a billion years.</p>
  <p class="female-table">CATHEE<br/>
  And don’t think you can change him. You can’t be taught these things.</p>
  <p class="male-table">PRESTON<br/>
  And you’re positive you were doing it right?</p>
  <p class="male-table">RYAN<br/>
  Yes!</p>
  <p class="female-table">LISA<br/>
  I just think he’s confused.</p>
  <p class="male-table">PRESTON<br/>
  And you tried sucking the mango?</p>
  <p class="male-table">RYAN<br/>
  I tried everything.</p>
  <p class="female-table">CATHEE<br/>
  I don’t see why you’re still in this position.</p>
  <p class="male-table">PRESTON<br/>
  Then that’s that.</p>
  <p class="female-table">CATHEE<br/>
  It’s time to get rid of him.</p>
  <p class="male-table">PRESTON<br/>
  You gotta move on.</p>
  <p class="female-table">CATHEE<br/>
  Every time I’ve seen you for the past month, you’ve been set on dumping him.</p>
  <p class="male-table">PRESTON<br/>
  I know you want to. You can’t tell me you don’t want to.</p>
  <p class="female-table">CATHEE<br/>
  And we both know it’s more than the sex that’s bugging you.</p>
  <p class="male-table">PRESTON<br/>
  The sex, man! The sex is terrible!</p>
  <p class="female-table">CATHEE<br/>
  You’re young! You should be out there living it up!</p>
  <p class="male-table">PRESTON<br/>
  God damn it!</p>
  <p class="female-table">CATHEE<br/>
  Not stuck with this loser. Listen to your friend.</p>
  <p class="male-table">PRESTON<br/>
  Right now.</p>
  <p class="female-table">CATHEE<br/>
  Right now.</p>
  <p>CATHEE AND PRESTON<br/>
  Do it now.</p>
  <p class="male-table">PRESTON<br/>
  You’ve put this off long enough.</p>
  <p class="female-table">CATHEE<br/>
  Each day more is another day wasted.</p>
  <p class="male-table">PRESTON<br/>
  Stop procrastinating!</p>
  <p class="female-table">LISA<br/>
  I know, it’s just&hellip;</p>
  <p class="male-table">RYAN<br/>
  I don’t know if it’s the right time.</p>
  <p class="female-table">LISA<br/>
  Valentine’s is coming up soon&hellip;</p>
  <p class="male-table">RYAN<br/>
  I already bought her an anniversary present, I’ll just wait until after that.</p>
  <p class="male-table">PRESTON<br/>
  You want bad sex for the rest of your life?</p>
  <p class="female-table">CATHEE<br/>
  Honestly, Lisa, you can’t keep putting it off!</p>
  <p class="male-table">PRESTON<br/>
  You could be having good or at the least very mediocre sex right now!</p>
  <p class="female-table">CATHEE<br/>
  If you don’t do it now, you’ll never do it. You’ll be unhappy for the rest of your life.</p>
  <p class="male-table">PRESTON<br/>
  Be a man and break up with her now!</p>
  <p class="female-table">CATHEE<br/>
  Now or never!</p>
  <p class="male-table">RYAN<br/>
  Fine!</p>
  <p class="female-table">LISA<br/>
  Fine!</p>
</div>

<div id="lmad-trigger11"></div>
<div>
  <p class="stagedir">RYAN and Lisa turn and face each other.</p>
</div>

<div>
  <p>RYAN AND LISA<br/>
  I’m breaking up with you!</p>
</div>

<div>
  <p class="stagedir">Beat.</p>
</div>

<div>
  <p>RYAN<br/>
  What?</p>
  <p>LISA<br/>
  Me?</p>
  <p>RYAN<br/>
  You?</p>
  <p>LISA<br/>
  How could you!</p>
  <p>RYAN<br/>
  I can’t believe this&hellip;</p>
  <p>LISA<br/>
  What did I do wrong?</p>
  <p>RYAN<br/>
  I thought we were happy.</p>
  <p>LISA AND PRESTON AND CATHEE<br/>
  NO!</p>
  <p>RYAN<br/>
  Oh. Right.</p>
  <p>LISA<br/>
  It’s just that, well, things aren’t exactly great in the bedroom.</p>
  <p>RYAN<br/>
  You can’t use that! That’s what I was going to say!</p>
  <p>LISA<br/>
  What? What am I doing wrong?</p>
  <p>RYAN<br/>
  It’s just that, you know, some of the ideas I have, you always seem to be against them...</p>
  <p>PRESTON<br/>
  Call her a prude.</p>
  <p>RYAN<br/>
  Not helping, man.</p>
  <p>LISA<br/>
  I am not a prude!</p>
  <p>RYAN<br/>
  I never said that! It was him.</p>
  <p>LISA<br/>
  But do you think I’m a prude?</p>
  <p>RYAN<br/>
  No! No&hellip;I never know if what I’m doing turns you on. And I don’t know how to tell if it’s working or not.</p>
  <p>LISA<br/>
  I could just tell you. It’s not.</p>
  <p>RYAN<br/>
  Wow. Yeah, that works.</p>
  <p>CATHEE<br/>
  C’mon Lis. Cut to the chase already.</p>
  <p>PRESTON<br/>
  Yeah, this is getting boring.</p>
  <p>LISA<br/>
  Oh be quiet! Both of you! What are we doing taking advice from our friends when they haven’t had one successful relationship?</p>
  <p>CATHEE<br/>
  Hey! I resent that.</p>
  <p>PRESTON<br/>
  Fair.</p>
  <p>RYAN<br/>
  I guess&hellip;</p>
  <p>LISA<br/>
  Is this really what you want? I’m not so sure anymore.</p>
  <p>RYAN<br/>
  What do you mean?</p>
  <p>LISA<br/>
  Every time I’ve wanted to break up with you, I never could bring myself to do it. I always talk myself out of it.</p>
  <p>RYAN<br/>
  Me too.</p>
  <p>LISA<br/>
  So maybe breaking up isn’t the answer.</p>
  <p>RYAN<br/>
  To be honest, I felt kinda bullied into it this time.</p>
  <p>LISA<br/>
  Yeah, same here.</p>
  <p>RYAN<br/>
  I like this.</p>
  <p>LISA<br/>
  What?</p>
  <p>RYAN<br/>
  This talking about our feelings thing. It’s nice.</p>
  <p>LISA<br/>
  Yeah. It is nice.</p>
  <p>RYAN<br/>
  Forget what I said. I don’t want to break up with you. I’ll take it down a notch in bed.</p>
  <p>LISA<br/>
  A few notches. And I’ll be more willing to try new things. Within reason.</p>
  <p>RYAN<br/>
  I’ll get rid of the book.</p>
  <p>LISA<br/>
  Thank you.</p>
  <p>RYAN<br/>
  So&hellip;should we kiss and make up?</p>
  <p>LISA<br/>
  Sure thing, Mr. Casanova.</p>
  <p>RYAN<br/>
  It’s not&hellip;nevermind.</p>
  <div id="lmad-trigger12"></div>
  <p class="stagedir">They kiss.</p>
</div>

<div>
  <p>PRESTON<br/>
  You gotta be fucking kidding me!</p>
  <p>CATHEE<br/>
  I know!</p>
  <p>RYAN<br/>
  Dude!</p>
  <p>LISA<br/>
  Cathee!</p>
  <p>PRESTON<br/>
  You two hate each other and you know it.</p>
  <p>CATHEE<br/>
  Every day you call me, and you go on and on about how you can’t stand him!</p>
  <p>PRESTON<br/>
  This is the last time I ever help you out.</p>
  <p>CATHEE<br/>
  And to think, I went through three whole issues of Cosmo to prepare myself for our lunch date.</p>
  <p>PRESTON<br/>
  I gave you the K Sooch, man! K Sooch! Christ almighty.</p>
  <div id="lmad-trigger13"></div>
  <p class="stagedir">Preston storms off. And then he reenters.</p>
  <p>PRESTON<br/>
  (to Cathee)<br/>
  Hey, you’re cute. Ever tried congress of the platypus?</p>
  <p>CATHEE<br/>
  Yuck! Don’t bother calling, Lisa!</p>
  <div id="lmad-trigger14"></div>
  <p class="stagedir">The waitress enters with entrées for both tables as Cathee exits.</p>
  <p>PRESTON<br/>
  What is with all these prudes!</p>
  <div id="lmad-trigger15"></div>
  <p class="stagedir">Preston storms off again, this time in Cathee’s direction.</p>
  <p class="stagedir">Ryan and Lisa exit the other way, giggling together.</p>
</div>

<div>
  <p>WAITRESS<br/>
  Someone has to pay for this!</p>
  <p class="stagedir blackout">Blackout. End of play.</p>
</div>
</div>
</div>

  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js" ></script>
  <script src="../../bower_components/gsap/src/uncompressed/jquery.gsap.js"></script>  
  <script src="../../bower_components/gsap/src/uncompressed/TweenMax.js"></script>  
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>        
  <script src="../scripts/lmad.js"></script>
  <script src="../scripts/more.js"></script>
  </body>

</html>