<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Writing, Videos, and Stuff from a NYC Writer">
    <meta name="author" content="Peter Andre">

    <title>Reunion - A Short Play</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Arvo:400,400italic,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../styles/cover.css" rel="stylesheet">
    <script src="../scripts/modernizr-custom.js" type="text/javascript"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">
            <img alt="Not That Peter Andre" src="../images/header_logo.png">
          </a>  
        </div>        
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="navbar-text"><a href="#">FEATURES</a></li>
            <li class="navbar-text"><a href="plays.html">PLAYS</a></li>
            <li class="navbar-text"><a href="books.html">BOOKS</a></li>
            <li class="navbar-text"><a href="#">VIDEOS</a></li>
          </ul>       
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/PeterJAndre" target="_blank"><span class="media-right"><img src="../images/twitter_outline.png" alt="Twitter"></span></a></li>
            <li><a href="https://instagram.com/PeterJAndre" target="_blank"><span class="media-right"><img src="../images/ig_outline.png" alt="Instagram"></span></a></li>
            <li><a href="https://facebook.com" target="_blank"><span class="media-right"><img src="../images/fb_outline.png" alt="Facebook"></span></a></li>
          </ul> 
        </div>

      </div>
    </nav>

<div class="modal fade" id="playModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">This play is FREE to read, FREE to perform.</h4>
      </div>
      <div class="modal-body">
        <p>The short plays on this website are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. You may read it for fun, produce it commercially, or do anything in between those two extremes. If you do produce it, all I ask is that you credit me and contact me so I know it's being produced somewhere - that way I can promote your show too!</p>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="trigger3"></div>
  <div id="reuniontitle"><h1>Reunion</h1></div>
<div id="pin3" class="reunionsplash">
</div>

<a href="#"><div id="backtotop">
  TOP<br />
  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
</div></a>

<div class="container">
    <div class="reunionplaytext">
      <p><span class="stagedir">
        A ten-year high school reunion. A "CLASS OF 2006" banner hangs up-center stage. Guilty pleasure pop hits from 2005 and 2006 play throughout.
      </span></p>
    </div>
    <div id="spotify">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A5baU2nNxC8ag8XzlHNsANg" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div class="reunionplaytext"> 
       <p><span class="stagedir">
        Dan and Maddie walk in together, surveying the room. Maddie wears a name tag that says "Maddie Dagan", while Dan puts on a name tag that says "Brad Brubaker." Maddie is very pregnant.
      </span></p>
    </div>
    <div id="trigger1"></div>
    <div id="pin1" class="reunionplaytext">
      <div id="nametag"></div>
    </div>
    <div class="reunionplaytext"> 
      <p>
        <span>DAN</span><br/>
        <span>Do you see the bastard?</span>
      </p>
      <p>
        <span>MADDIE</span><br/>
        <span>No, not yet. Wow, this place is a lot more packed than I thought it would be.</span>
      </p>
      <p>
        <span>DAN</span><br/>
        <span>Yeah. Makes me wish I had bothered to go to my ten-year reunion.</span>
      </p>
      <p>
        <span>MADDIE <span class="paren">(reviewing his name tag)</span></span><br/>
        <span>Well, now you can, "Brad Brubaker." What made you pick that one?</span>
      </p>
      <p>
        <span>DAN</span><br/>
        <span>I like the alliteration. You didn't know Brad?</span>
      </p>
      <p>
        <span>MADDIE</span><br/>
        <span>Nope. Couldn't you have made up a name? Or better yet just stayed in the car?</span>
      </p>
      <p>
        <span>DAN</span><br/>
        <span>Where's the fun in that? How big was your class?</span>
      </p>
      <p>
        <span>MADDIE</span><br/>
        <span>I dunno, like 800.</span>
      </p>
      <p>
        <span>DAN</span><br/>
        <span>Alright, half of those people aren't even going to show up. And it's not like I picked "Habib" or "Tyrone" here. I think Brad's a safe bet.</span>
      </p>
      <p>
        <span>MADDIE</span><br/>
        <span>Whatever, we're going to be in and out as soon as I find the prick.</span>
      </p>
      <p>
        <span>DAN</span><br/>
        <span>We can stay a little while. You needed a ride here and I provided one, did I not?</span>
      </p>
      <p>
        <span>MADDIE</span><br/>
        <span>Yeah, but be real. You didn't want to miss the fireworks.</span>
      </p>
      <p>
        <span>DAN</span><br/>
        <span>I think a fitting reward for your partner in crime. Hold this.</span>
      </p>
    </div>
    <div class="reunionplaytext"> 
      <p><span class="stagedir">
        Maddie hands Dan her purse so she can adjust herself. She turns her back to the crowd and reaches under her dress to pull out a pillow, the substitute for her "pregnant belly."
      </span></p>
      <p><span class="stagedir">        
        Maddie fluffs the pillow a couple times before putting it back in.
      </span></p>
    </div>    

<div class="reunionplaytext">
  <p>MADDIE <span class="stagedir">(CONT’D)</span><br/>
    Ugh, so itchy.</p>
  <p>DAN<br/>
    I still think you should have listened to me.</p>
  <p>MADDIE<br/>
    About what?</p>
  <p>DAN<br/>
    Bringing a fake DNA test.</p>
  <p>MADDIE<br/>
    Yeah right.</p>
  <p>DAN<br/>
    Go all Maury Povich on this asshole.  You ARE the father! Haha.</p>
  <p>MADDIE<br/>
    No, no, I just want to scare the guy, you know? Make him sweat for a few weeks, maybe think about what he's going to do for child support-</p>
  <p>DAN<br/>
    Oooh, you should totally ask for child support.</p>
  <p>MADDIE<br/>
    I'll settle for knocking the Homecoming King down a peg.</p>
  <p>DAN<br/>
    You slept with the Homecoming King?</p>
  <p>MADDIE<br/>
    Well, ten years after the fact.</p>
  <p>DAN<br/>
    Still counts.</p>
  <p>MADDIE<br/>
    He was quarterback of the football team too. What an asshole.</p>
  <p>DAN<br/>
    You're sure he's coming to this?</p>
  <p>MADDIE<br/>
    He accepted on Facebook. And he hasn't shown any other activity in months. I should know. I've been stalking him since he fucked and ran.</p>
  <p>DAN<br/>
    Totally healthy behavior I might add.</p>
  <p>MADDIE<br/>
    Oh fuck you.</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Tara walks over. She's a wannabe prom queen still holding on to that last ounce of school spirit.</span></p>
</div>
<div class="reunionplaytext">
  <p>TARA<br/>
    Maddie! So glad you could make it.</p>
  <p>MADDIE<br/>
    Hi Tara.</p>
  <p>TARA<br/>
    And look at you! Congratulations! How far along are you?</p>
  <p>MADDIE<br/>
    Oh, pretty far.</p>
  <p>TARA<br/>
    That's so wonderful.</p>
  <p>MADDIE<br/>
    The gym looks great. I hardly remember it.</p>
  <p>TARA<br/>
    Oh, maybe that's because you always skipped gym class! Hahaha! Smoking in the girls' bathroom, you little minx!</p>
  <p>MADDIE<br/>
    Sure.</p>
  <p>TARA<br/>
    We worked every night this week. I wouldn't say it's perfect, but there's always the 15-year reunion! Hahaha! So is this the lucky father?</p>
  <p>MADDIE<br/>
    No, just my friend. You remember Brad?</p>
  <p>TARA<br/>
    <span class="stagedir">(she clearly doesn't)</span><br/>
    Of course! Brad! Brad Brubaker.</p>
  <p>DAN<br/>
    It's actually Bru-bah-coor.</p>
  <p>TARA<br/>
    Oh, of course! So sorry. It has been forever, hasn't it?</p>
  <p>DAN<br/>
    Far too long.</p>
  <p>TARA<br/>
    So how are...things?</p>
  <p>DAN<br/>
    You know. They are.</p>
  <p><span class="stagedir">Dan laughs loudly. Tara joins him, awkwardly.</span></p>
  <p>TARA<br/>
  Oh, Brad! You were always the class clown.</p>
<p>DAN<br/>
What can I say? Still the same ol' Brad.</p>
<p>TARA<br/>
So good to see you two! Ooh, I love this song! Gotta run, but congratulations again!</p>
<p>MADDIE<br/>
<span class="stagedir">(catching her arm)</span><br/>
Hey Tara. I'm looking for someone. Mike Howard? I thought he would be here by now, but I haven't seen him.</p>
<p>TARA<br/>
Oh, Mike Howard! You didn't hear?</p>
<p>MADDIE<br/>
No...</p>
<p>TARA<br/>
He got into an awful car accident. He's in the hospital. Poor thing totally shattered his pelvis.</p>
<p>MADDIE<br/>
Oh damnit to hell.</p>
<p>TARA<br/>
I know, so awful. They think he'll be walking in about a month, fingers crossed.</p>
<p>MADDIE<br/>
Hey, you don't happen to know which hospital he's staying at?</p>
<p>TARA<br/>
No. Did you want to send flowers?</p>
<p>MADDIE<br/>
<span class="stagedir">(adjusting her "belly")</span><br/>
Not exactly.</p>
<p>TARA<br/>
No, sorry. I'm sure we could find out for you.</p>
<p>MADDIE<br/>
Oh nevermind.</p>
<p>TARA<br/>
Well, I'll see you two around the party. Ciao for now!</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Tara skips off. Maddie pulls the pillow out underneath her dress.</span></p>
</div>
<div class="reunionplaytext">
<p>MADDIE<br/>
All this for nothing.</p>
<p>DAN<br/>
Hey, look at the bright side! Karma took care of this for you. It's going to be a long while before Mike can fuck and run. Either of the two, really.</p>
<p>MADDIE<br/>
Yeah, but where's the satisfaction in that? Ugh, let's get out of here.</p>
<p>DAN<br/>
Now hold on. We just got here. No sense in wasting the night.</p>
<p>MADDIE<br/>
Christ, if you think I'm playing wingman for you, you're out of your mind.</p>
<p>DAN<br/>
I don't need a wingman tonight. I got Brad on my side.</p>
<p>MADDIE<br/>
Oh please.</p>
  <p><span class="stagedir">Dan sits at a table.</span></p>
  <p>DAN<br/>
  Did anybody know this Brad guy? Did he even go to your school?</p>
<p>MADDIE<br/>
Fuck if I know. Ok, now that I'm not pregnant, I'm getting drunk. You going to be okay by yourself?</p>
<p>DAN<br/>
<span class="stagedir">(tugging on name tag)</span><br/>
By myself?</p>
<p>MADDIE<br/>
Right, you have each other. Well, enjoy Brad. He's going to be the only action you get tonight.</p>
  <p><span class="stagedir">Dan takes his fat wallet out from his back pocket and throws it on the table.</span></p>
  <p>MADDIE <span class="stagedir">(CONT’D)</span><br/>
  Really?</p>
<p>DAN<br/>
What?</p>
<p>MADDIE<br/>
You're just going to leave your wallet on the table? So it can get stolen when you're not looking?</p>
<p>DAN<br/>
I can't sit on that thing. Makes me off-balance. Can't run my game when I'm off-balance.</p>
<p>MADDIE<br/>
You're insufferable.</p>
  <p><span class="stagedir">She takes the wallet and puts it in her purse.</span></p>
  <p>DAN<br/>
  Thanks, you little minx.</p>
<p>MADDIE<br/>
Blow me.</p>
<p>DAN<br/>
Aww, I liked you better when you were knocked up.</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">She flicks him off as she exits. Dan starts checking out the room.</span></p>
</div>
<div id="trigger22">
</div>
<div id="pin22">
</div>

<div class="reunionplaytext">
  <p>
    <span class="stagedir">Linda sits down next to him.</span>
  </p>
</div>

<div class="reunionplaytext">
  <p>DAN<br/>
  Hi.</p>
<p>LINDA<br/>
Hello.</p>
<p>DAN<br/>
Bradley Bru-bah-coor. Pleasure to meet you.</p>
  <p><span class="stagedir">Beat.</span></p>
  <p>LINDA<br/>
  Linda Madigan.</p>
<p>DAN<br/>
Ahh yes, the name tag gave it away. Can you believe it's been ten years?</p>
<p>LINDA<br/>
It's been a long time.</p>
<p>DAN<br/>
Sure has. I hardly remember this place.</p>
<p>LINDA<br/>
Go figure.</p>
<p>DAN<br/>
It's quite depressing.</p>
<p>LINDA<br/>
Excuse me?</p>
<p>DAN<br/>
These reunions. These people.</p>
<p>LINDA<br/>
You're here.</p>
<p>DAN<br/>
I suppose. Nobody who's here ever really left high school. It's still the popularity contest. The ones who actually bothered to show up to this? They want to know that the people who bullied them and ignored them in high school have actually led shit lives so they can feel better about their own shit lives. It's pathetic.</p>
<p>LINDA<br/>
And what about your shitty life?</p>
<p>DAN<br/>
Are you kidding me? I'm Brad Bru-bah-coor. I'm sitting pretty.</p>
<p>Beat.</p>
<p>DAN <span class="stagedir">(CONT’D)</span><br/>
You wanna know a secret?</p>
<p>LINDA<br/>
Sure.</p>
<p>DAN<br/>
I'm not actually Brad. I didn't even go to this stupid school. I'm here with a friend and, get this, she's trying to get back at this guy she slept with like six months ago, they both went to this school and-</p>
<p>LINDA<br/>
(hurt)<br/>
You fucking asshole.</p>
<p>DAN<br/>
Sorry?</p>
<p>LINDA<br/>
You know, it's one thing to act like you don't remember me, but it's another to say you aren't even you. It's cruel.</p>
<p>DAN<br/>
I'm sorry, I don't understand.</p>
<p>LINDA<br/>
Right. You're not Brad. You just look exactly like him, talk exactly like him - you haven't changed one bit.</p>
<p>DAN<br/>
I really think you're confused. Seriously, I'm not Brad. My name is Dan.</p>
<p>LINDA<br/>
Would you please stop doing this?</p>
<p>DAN<br/>
Seriously, my name is Daniel Haig. I just picked up a name tag randomly off the table. Look, I can prove it to you.</p>
</div>

<div class="reunionplaytext">
  <p><span class="stagedir">Dan goes to reach for his wallet and realizes it's still in Maddie's purse.</span></p>
</div>

<div class="reunionplaytext">
  <p>
    DAN <span class="stagedir">(CONT’D)</span><br/>
    Shit. Umm, listen, just hold on. Maddie!
  </p>
  <p>
    LINDA<br/>
    Haven't you put me through enough? Are you not done completely ruining my life?
  </p>
  <p>
    DAN<br/>
    Listen, let me go find my friend, I'll get my wallet, and you will see this is all just a big misunderstanding.
  </p>
  <p>
    LINDA<br/>
    I swear to God if you get up from this table, I'll run home and slit my wrists. Try me.
  </p>
  <p>
    DAN<br/>
    Oh Jesus Christ.
  </p>
  <p>
    LINDA<br/>
    I came over here to tell you you're a horrible, rotten person.
  </p>
  <p>
    DAN<br/>
    I appreciate the sentiment but I believe you're mistaken.
  </p>
  <p>
    LINDA<br/>
    Am I? So you didn't take my virginity our sophomore year?
  </p>
  <p>
    DAN<br/>
  No, I've never seen you before in my life.
  </p>
  <p>
    LINDA<br/>
    Did you know that? You were my first.
  </p>
  <p>
    DAN<br/>
    Christ, listen, I'm not who you think I am.
  </p>
  <p>LINDA<br/>
  I know exactly who you are and you know exactly what you did.</p>
  <p>DAN<br/>
  I didn't take your virginity.</p>
  <p>LINDA<br/>
  I'm not talking about that. You know what I'm talking about.</p>
  <p>DAN<br/>
  What's that?</p>
  <p>LINDA<br/>
  What, do you want me to spell it out for you? Is that the game you're playing?</p>
  <p>DAN<br/>
  I'm not playing any games!</p>
  <p>LINDA<br/>
  Well I won't! I'm not going to stoop down to your level and give you the satisfaction of hearing me say those words.</p>
  <p>DAN<br/>
  Calm down.</p>
  <p>LINDA<br/>
  Calm down? Do you understand what the next two years of high school were like for me? I know you were off with some other bimbo, acting like I didn't exist, but I...I trusted you, Brad. I trusted you and you took everything I had.</p>
  <p>DAN<br/>
  I'm-</p>
  <p>LINDA<br/>
  Right, right, you're not Brad, you're just some random asshole who likes to laugh at everyone's shitty life. You think my life is a joke?</p>
  <p>DAN<br/>
  No, I mean, I don't even know you!</p>
  <p>LINDA<br/>
  Well it is. My life has been an absolute catastrophe since high school. I can't hold down a job, a relationship. I can't let anyone get close to me now. So congratulations, Brad. I'm so glad you can feel better about your shit life knowing mine's so much more of a fucking mess.</p>
  <p>DAN<br/>
  I, uh...I don't know what to say. I'm not Brad.</p>
  <p><span class="stagedir">Linda slaps Dan.</span></p>
  <p>LINDA<br/>
  Stop it.</p>
  <p><span class="stagedir">Beat.</span></p>
  <p>LINDA <span class="stagedir">(CONT’D)</span><br/>
  I didn't come over here for an apology or for you to show remorse. That would be asking too much, right? But I didn't expect this. I mean, don't you care about anything?</p>
  <p><span class="stagedir">Linda is close to breaking.</span></p>
  <p>DAN<br/>
  Maddie!</p>
<p>LINDA<br/>
Don't you dare.</p>
  <p><span class="stagedir">Beat.</span></p>
  <p>DAN<br/>
  Ok. The truth. I am Brad. I don't know why I lied before...I was scared. And what I did to you in high school...I am so sorry. I can never be sorry enough. But listen to me: you have to move on with your life. You need to get over me and get over yourself.</p>
<p>LINDA<br/>
I'm so over you.</p>
<p>DAN<br/>
Oh my god you are so clearly not. We're talking about high school. A lifetime ago. We were teenagers! We did awful things, but we didn't know what we were doing, how it would affect us. So this is what's going to happen: you're going to take me out of your life. Completely. You're not going to think of me, you're not going to see me, you're not even going to speak my name. Brad...</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Dan rips off his name tag and crumples it up.</span></p>
</div>
<div class="reunionplaytext">
  <p>DAN <span class="stagedir">(CONT’D)</span><br/>
  Brad is not going to hurt you anymore.</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Instinctively, Linda kisses Dan on the mouth. She pulls back to see his reaction. He's stunned. She kisses him again, deeper and longer this time. She pulls back slowly.</span></p>
</div>
<div class="reunionsplash">
</div>
<div class="reunionplaytext">
  <p>LINDA<br/>
  I should go...</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Dan grabs her arm.</span></p>
</div>
<div class="reunionplaytext">
  <p>DAN<br/>
  Wait...wait. Let's just...talk.</p>
<p>LINDA<br/>
I don't want to...talk.</p>
<p>DAN<br/>
What do you want to do?</p>
  <p><span class="stagedir">Linda grins and covers her eyes.</span></p>
  <p>DAN <span class="stagedir">(CONT’D)</span><br/>
  Oh man.</p>
<p>LINDA<br/>
But you said I shouldn't see you anymore.</p>
<p>DAN<br/>
I did. That was hasty. I may have spoken out of turn.</p>
<p>LINDA<br/>
I shouldn't think about you...</p>
<p>DAN<br/>
You can think about me. I give you permission to think about me.</p>
<p>LINDA<br/>
I can't even say your name. Do you want me to say your name?</p>
<p>DAN<br/>
Yes please.</p>
<p>LINDA<br/>
Are you sure?</p>
<p>DAN<br/>
Utterly.</p>
  <p><span class="stagedir">Linda leans over and whispers in his ear.</span></p>
  <p>LINDA<br/>
  Brad...Brad...</p>
<p>DAN<br/>
Oh dear God.</p>
<p>LINDA<br/>
I want you. Right. Now.</p>
<p>DAN<br/>
Where should we go? I don't live close to here. Your place?</p>
<p>LINDA<br/>
There's a motel about ten minutes away.</p>
<p>DAN<br/>
Really? Ok, yes. Let's do it. I need to get my wallet, and then we're out of here.</p>
  <p><span class="stagedir">Dan gets up to find Maddie.</span></p>
  <p>LINDA<br/>
  What are you doing?</p>
<p>DAN<br/>
I have to find my friend, she still has my wallet.</p>
<p>LINDA<br/>
If you leave, I'm gone.</p>
<p>DAN<br/>
What? It'll take two seconds. I just don't see her right now.</p>
<p>LINDA<br/>
You're going to ditch me.</p>
<p>DAN<br/>
I am not.</p>
<p>LINDA<br/>
Yes you are. It's what you do best, Brad.</p>
<p>DAN<br/>
But I'm a new Brad! I hardly remember the Brad of the past.</p>
<p>LINDA<br/>
If you leave me now, I won't be here when you come back. I promise.</p>
<p>DAN<br/>
I'm not- how can I show you that I'm not ditching you? What will it take? Ok. I drove a red Mazda Miata here. It's right outside in the parking lot, right as you come out of the doors. You can't miss it.</p>
<p>LINDA<br/>
You want me to wait by your car? It's freezing outside.</p>
<p>DAN<br/>
This way, you know I can't leave without you.</p>
<p>LINDA<br/>
And I'm supposed to believe you when you say this is your car because...?</p>
<p>DAN<br/>
Fair enough. Ok, here are my car keys. The red Mazda Miata in the front. Get inside, you can turn on the heat, and wait for me. Not even two seconds.</p>
  <p><span class="stagedir">Beat. Linda stares at Brad.</span></p>
  <p>DAN <span class="stagedir">(CONT’D)</span><br/>
  Please.</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Linda takes the keys. She leans in and kisses Dan.</span></p>
</div>
<div class="reunionplaytext">
  <p>LINDA<br/>
  Two seconds.</p>
<p>DAN<br/>
Not even.</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Linda saunters off. Dan watches her leave. Barely a few moments later, Maddie and her friend from high school stumble over, tipsy and giggling.</span></p>
</div>
<div class="reunionplaytext">
  <p>MADDIE<br/>
  Danny boy!</p>
<p>DAN<br/>
Jesus Christ, where were you? I've been looking all over for you since you left.</p>
<p>MADDIE<br/>
Oh nothing, just a little thing I like to call "Smoking in the Girls' Bathroom."</p>
  <p><span class="stagedir">Maddie and her friend giggle.</span></p>
  <p>DAN<br/>
  Classy.</p>
  <p><span class="stagedir">Dan grabs her purse and starts digging through it.</span></p>
  <p>MADDIE<br/>
  Hey! Purse snatcher!</p>
<p>DAN<br/>
Pipe down. You will not believe the night I have had. Listen, can you get a ride with someone else?</p>
  <p><span class="stagedir">He finds the wallet, shoves it in his pocket, and hands the purse back to Maddie.</span></p>
  <p>MADDIE<br/>
  <span class="stagedir">(to her friend)</span><br/>
  You can drive me home?</p>
<p>MADDIE'S FRIEND<br/>
Are we still hitting up the Denny's?</p>
<p>MADDIE<br/>
Duh.</p>
<p>DAN<br/>
Ok, I'll call you tomorrow.</p>
  <p><span class="stagedir">Dan starts to head out.</span></p>
  <p>MADDIE<br/>
  Umm, hello? You leave without even introducing yourself?</p>
<p>DAN<br/>
Right. Hi. Daniel Haig. Pleasure.</p>
<p>MADDIE'S FRIEND<br/>
Hi. Linda Madigan. Pleasure me, beautiful.</p>
  <p><span class="stagedir">Maddie and her friend giggle some more.</span></p>
  <p>DAN<br/>
  Excuse me?</p>
<p>MADDIE'S FRIEND<br/>
Sorry. We're a bit tipsy.</p>
<p>DAN<br/>
Is this some kind of joke? Ok, so who are you really?</p>
<p>MADDIE'S FRIEND<br/>
Linda Madigan.</p>
<p>DAN<br/>
I was just talking to Linda Madigan.</p>
<p>MADDIE<br/>
No you weren't. She was smoking ciggies with me in the little girl's room.</p>
<p>DAN<br/>
Fine, I was talking to a Linda Madigan. There must have been more than one at your school.</p>
<p>MADDIE'S FRIEND<br/>
No there wasn't.</p>
<p>DAN<br/>
How would you know?</p>
<p>MADDIE'S FRIEND<br/>
I think I would remember if someone in my class in my high school had the same name as me.</p>
<p>DAN<br/>
Well...</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">It dawns on Dan.</span></p>
</div>
<div class="reunionplaytext">
  <p>DAN <span class="stagedir">(CONT’D)</span><br/>
  Shit. My car! Fuck!</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">Dan frantically runs off.</span></p>
</div>
<div class="reunionplaytext">
  <p>MADDIE'S FRIEND<br/>
  Your friend's kind of a bastard.</p>
<p>MADDIE<br/>
I know. It gets to be endearing after awhile. This helps too.</p>
  <p><span class="stagedir">Maddie sips her drink.</span></p>
  <p>MADDIE <span class="stagedir">(CONT’D)</span><br/>
  You ready to bounce?</p>
<p>MADDIE'S FRIEND<br/>
Sure.</p>
  <p><span class="stagedir">Maddie, who has been carrying her pillow this entire time, stuffs it back under her shirt.</span></p>
  <p>MADDIE'S FRIEND <span class="stagedir">(CONT’D)</span><br/>
  Why?</p>
<p>MADDIE<br/>
We'll be able to use the "expecting mothers" spot at the Denny's. If nothing else, we can dine and dash when my water unexpectedly breaks.</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">She throws her drink down, and it splashes at her feet.</span></p>
</div>
<div class="reunionplaytext">
  <p>MADDIE <span class="stagedir">(CONT’D)</span>)<br/>
  Tah-dah!</p>
<p>MADDIE'S FRIEND<br/>
I've missed you.</p>
<p>MADDIE<br/>
Me too.</p>
</div>
<div class="reunionplaytext">
  <p><span class="stagedir">They exit skipping, hand in hand. Blackout.</span></p>
</div>
</div>


  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/masonry/dist/masonry.pkgd.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js" ></script>
  <script src="../../bower_components/imagesloaded/imagesloaded.pkgd.js"></script> 
  <script src="../../bower_components/gsap/src/uncompressed/jquery.gsap.js"></script>
  <script src="../../bower_components/gsap/src/uncompressed/TimelineMax.js"></script>
  <script src="../../bower_components/gsap/src/uncompressed/TweenMax.js"></script>  
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <script src="../../bower_components/js-cookie/src/js.cookie.js"></script>    
  <script type="text/javascript">
  $(function () { // wait for document ready
    
    var modalCookie = Cookies.get("readModal")

    if (modalCookie == "yes") {
      console.log("cookie is on system")
    } else {
      Cookies.set('readModal', 'yes', {expires: 7});
      $('#playModal').modal("show");
      console.log("cookie has been set, modal is shown")
    };


    $('#backtotop').click(function(){
      $("html, body").animate({ scrollTop: 0 }, 'slow');
      return false;
    });

    if (!Modernizr.touchevents) {
      
      $("#spotify").css("display", "block")    
      // init controller
      var controller = new ScrollMagic.Controller();
      
      // build scene
        var scene = new ScrollMagic.Scene({
          triggerElement: "#trigger1",
          duration: 400, 
          offset: 150
        })          
                .setPin("#pin1")
                .addIndicators({name: "1 (duration: 400)"})
                .addTo(controller);

        var scene2 = new ScrollMagic.Scene({
          triggerElement: "#trigger1",
        })
                .setTween("#backtotop", {autoAlpha:1})
                .addTo(controller);

        var wipeScene = new ScrollMagic.Scene({
          triggerElement: "#trigger22",
          duration: 1000,
          offset: 300
        })
                .setPin("#pin22")
                .setTween("#pin22", {autoAlpha:0, rotationY: 90})
                .addIndicators({name: "2"})
                .addTo(controller)

        var openScene = new ScrollMagic.Scene({
          triggerElement: "#trigger3",
          duration: 1500,
          offset: 350
        })
                .setPin("#pin3")
                .addIndicators({name: "open"})
                .addTo(controller)
    }

  });

  </script>
  </body>

</html>