<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Writing, Videos, and Stuff from a NYC Writer">
    <meta name="author" content="Peter Andre">

    <title>Some People Never Change - A Short Play</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Arvo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="../styles/cover.css" rel="stylesheet">        
    <link rel="icon" href="../favicon.png" sizes="32x32" type="image/png">
    <script src="../scripts/modernizr-custom.js" type="text/javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
            <li id="ntpa-header">
              <a href="../index.html">
                <picture>
                  <source media="(max-width: 580px)" srcset="../images/vector_nav_logo_small.png">
                  <source media="(max-width: 999px)" srcset="../images/vector_nav_logo.png">
                  <img id="ntpa-image" alt="Not That Peter Andre" src="../images/vector_short_name.png">
                </picture>
              </a>
            </li>
          </ul>
        </div>        
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
            <li class="navbar-text"><a href="features.html">FEATURES</a></li>
            <li class="navbar-text"><a href="plays.html">PLAYS</a></li>
            <li class="navbar-text"><a href="books.html">BOOKS</a></li>
            <li class="navbar-text"><a href="videos.html">VIDEOS</a></li>
          </ul>       
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/PeterJAndre" target="_blank"><span class="media-right"><img src="../images/twitter_outline.png" alt="Twitter"></span></a></li>
            <li><a href="https://instagram.com/PeterJAndre" target="_blank"><span class="media-right"><img src="../images/ig_outline.png" alt="Instagram"></span></a></li>
            <li><a href="https://facebook.com" target="_blank"><span class="media-right"><img src="../images/fb_outline.png" alt="Facebook"></span></a></li>
          </ul> 
        </div>

      </div>
    </nav>

<div class="fullscreen modal2">
  <div class="modal-content2">
    <h3>This play is <b>FREE</b> to read, <b>FREE</b> to perform.</h3>
    <p>
      The short plays on this website are licensed under a <a class="link-typical"rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. You may read it for fun, produce it commercially, or adapt it for your own purposes. If you do produce it, please credit me and contact me so I know it's being produced somewhere - that way I can promote your show too!
    </p>
    <div class="btn modal-btn" id="ph">PRODUCTION HISTORY</div>
    <a href="../pdfs/Some_People_Never_Change.pdf" download><div class="btn modal-btn">DOWNLOAD PDF</div></a>
      <div id="closebox">
        <svg viewBox="0 0 100 100">
          <path class="close-x" d="M 10,10 L 100,100 M 100,10 L 10,100" />
        </svg>
      </div>
  </div>
</div>

<div class="modal3">
  <div class="modal-content3">
    First produced by Blowout Theatre at Spoke the Hub, Brooklyn, NY, September 2014.
  </div>
</div>

<div id="trigger-spnc"></div>
  <h1 class="play-title" id="spnc-title">Some People Never Change</h1>
<div id="pin-spnc" class="fullscreen spncsplash">
  <div class="fullscreen" id="white-screen"></div>      
</div>

<a href="#"><div class="extra-play-content" id="backtotop">
  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
</div></a>

  <div class="extra-play-content" id="more-button">
    MORE&hellip;
  </div>

<div class="container">
<img class="flash" src="../images/flash.png">
<div class="spncplaytext stagedir">
  <p>
    LIGHTS UP ON:
  </p>
  <p>
    A WOMAN. She stands in front of a park bench with her arms held down at her sides and her eyes closed. Rigid and emotionless. After a beat, her eyes snap open and she gradually becomes aware of her surroundings. She looks down at her open palm and slowly closes it into a fist. She sits down on the bench and surveys the audience.
  </p>
  <p>
    After another beat, A MAN enters. He’s lost in his cell phone, completely unaware of his surroundings. He sits down on the opposite side of the bench. He glances up at the Woman before returning his attention to his cell phone. Without looking up:
  </p>
</div>

<div class="spncplaytext">
  <p>MAN<br/>
  Hey, do you know&mdash;</p>
  <p>WOMAN<br/>
  No.</p>
  <p>MAN<br/>
  No what?</p>
  <p>WOMAN<br/>
  No to your question.</p>
  <p>MAN<br/>
  You didn’t know what I was going to ask.</p>
  <p>WOMAN<br/>
  I do.</p>
  <p>MAN<br/>
  <span class="paren">(getting up)</span><br/>
  If I’m bothering you, I can move to another bench.</p>
  <p>WOMAN<br/>
  Where are you going to go?</p>
  <p>MAN<br/>
  I don’t know, there’s lots of benches around here.</p>
  <p>WOMAN<br/>
  <span class="paren">(condescending)</span><br/>
  Uh-huh.</p>
  <p class="stagedir">Beat.</p>
  <p>WOMAN<br/>
  Sit down already.</p>
</div>

<div class="spncplaytext stagedir">
  <p>The Man hesitantly sits down on the opposite side of the bench.</p>
</div>

<img class="flash" src="../images/flash.png"> 

<div class="spncplaytext">
  <p>WOMAN<br/>
  What was your question?</p>
  <p>MAN<br/>
  I was going to ask if you knew which way the arboretum was.</p>
  <p>WOMAN<br/>
  <span class="paren">(pointed)</span><br/>
  No you weren’t.</p>
  <p class="stagedir">The Man smirks.</p>
  <p>MAN<br/>
  What’s your name? I’m David.</p>
  <p>WOMAN<br/>
  Boring.</p>
  <p>MAN<br/>
  Well, my friends call me T-Bone.</p>
  <p>WOMAN<br/>
  I keep on waiting for you to say something interesting and you never ever do.</p>
  <p>MAN<br/>
  Wow. Okay. Okay, how ‘bout this &mdash; ask me one question, however personal you want, and I promise this time I will answer truthfully. Right, we’ve just met, so how will you know it’s the truth? Scout’s honor.</p>
  <p class="stagedir">The Man tries to make the Boy Scout salute, but forgets how many fingers to throw up. The Woman looks away.</p>
  <p>MAN<br/>
  Okay, okay, truth starting now. C’mon, it’ll be fun. I saw you over here staring at people walking past your bench, now you can’t tell me you haven’t been the least bit interested in them. Well, one of them sat down next to you and you can ask him anything you want. Literally any&mdash;</p>
  <p>WOMAN<br/>
  How do you want to die?</p>
  <p>MAN<br/>
  <span class="paren">(pause)</span><br/>
  Nice. I like it. Umm, okay. I think I want to die old but not too old. Like when I’m ninety I get some disease that takes me out in less than a week and I can be on morphine the entire time and not feel a thing. Yeah. And then I wanna be cremated for sure. When I was younger we buried our dog Pepe Le Pew in the backyard, but he wasn’t in the ground deep enough, so the neighbor’s dog dug him up a couple weeks later, and it was&hellip;awful, like awful. His real name was Randy, but we all called him Pepe Le Pew because this one time he tried to fuck a skunk.</p>
  <p class="stagedir">No reaction from the Woman.</p>
  <p>MAN<br/>
  So I’m cremated, and then my brother Brian if he’s still around or maybe if I have kids, I would want them to scatter my ashes somewhere I’ve never been before, like, umm, I’ve always wanted to see the Badlands. Actually, no. You know what would be even better? They could drop little pieces of me all over Times Square and then people would step on me and I’d get wedged in their sneaker treads and then I could be everywhere at once.  Now be honest, you thought I was going to say something stupid like dying while having sex.</p>
  <p>WOMAN<br/>
  No.</p>
  <p>MAN<br/>
  Isn’t that what most people say?</p>
  <p>WOMAN<br/>
  I don’t know.  I’ve only ever asked you.</p>
  <p>MAN<br/>
  Okay, your turn.  How do you want to die?</p>
  <p>WOMAN<br/>
  It doesn’t matter.</p>
  <p>MAN<br/>
  Oh, come on, play the game.  I gave you scattering ashes in Times Square off the top of my head.</p>
  <p class="stagedir">The Woman is silent.</p>
  <p>MAN<br/>
  Then you have to tell me your name.</p>
  <p>WOMAN<br/>
  I don’t have a name.</p>
  <p>MAN<br/>
  Do I have to guess it? Do you spin straw into gold?</p>
  <p>WOMAN<br/>
  I don’t have a name.  I don’t have a family.  I don’t have a dog.  I don’t have friends and I don’t have enemies &mdash; at least I don’t think so.  I don’t eat, drink, or sleep.  I don’t go anywhere.</p>
  <p>MAN<br/>
  So what do you do all day?</p>
  <p>WOMAN<br/>
  I sit on this bench and talk to you.  I have a voice and this body, as much of it as I can see.  I don’t even know if I have genitals.</p>
  <p>MAN<br/>
  I would think that last one would’ve come up by now.</p>
  <p>WOMAN<br/>
  <span class="paren">(accusatory)</span><br/>
  How did you get here?</p>
  <p>MAN<br/>
  I, uh, just walked over.</p>
  <p>WOMAN<br/>
  What did you do right before that moment?  How did you get to this park?  Did you take the train?  Did you drive?  What did you do this morning? When did you wake up? Did you shower?  Brush your teeth?  What brand toothpaste? What color was the bath mat?  What did you even eat for breakfast?</p>
  <p>MAN<br/>
  <span class="paren">(stuck, then:)</span><br/>
  I always forget breakfast.</p>
  <p>WOMAN<br/>
  Uh-huh.</p>
  <p>MAN<br/>
  So every day you sit on this bench and talk to people?</p>
  <p>WOMAN<br/>
  No.  Every day, I talk to you.</p>
  <p>MAN<br/>
  But this is the first time we’ve met.</p>
  <p class="stagedir">Beat.</p>
  <img class="flash" src="../images/flash.png">
  <p>MAN<br/>
  You wanna ask me something else?</p>
  <p>WOMAN<br/>
  I’ll be leaving soon.</p>
  <p>MAN<br/>
  I thought you didn’t leave this bench.</p>
  <p>WOMAN<br/>
  I can when it gets dark.</p>
  <p>MAN<br/>
  <span class="paren">(looking up at the sky)</span><br/>
  Really? I think we have a few hours of light left at least. Where do you go when it gets dark?</p>
  <p class="stagedir">The Woman starts clutching her face and neck, gradually making more and more grotesque facial expressions, as if she were trying to expel a piece of meat lodged in her esophagus using only her throat muscles. She might even convulse or moan a little. Finally, she is able to produce a consistent sound - a long, drawn out “I”:</p>
  <p>WOMAN<br/>
  IIIIIIIIIIIIIIIIII.</p>
  <p class="stagedir">Like anticipating a sneeze that never comes, she breaks out of her trance.</p>
  <p>WOMAN<br/>
  Can’t tell you.</p>
  <p>MAN<br/>
  I realize this is normal for you, but this is bar none the strangest conversation I have ever had.</p>
  <p class="stagedir">Beat.  The Man returns to his cell phone.</p>
  <p>MAN<br/>
  So every single day of your life you’ve sat on this bench.</p>
  <p>WOMAN<br/>
  And I talk to you.</p>
  <p>MAN<br/>
  Right, you talk to me.  Do you always ask me the same questions?</p>
  <p>WOMAN<br/>
  Verbatim.</p>
  <p>MAN<br/>
  And do I always give the same answers?</p>
  <p>WOMAN<br/>
  Every line is the same. Nothing changes.<br /><span class="paren">(looking at the audience)</span><br />Almost nothing.</p>
  <p>MAN<br/>
  Wow, that must get boring.</p>
  <p>WOMAN<br/>
  <span class="paren">(nearly in tears)</span><br/>
  It’s dreadful.</p>
  <p>MAN<br/>
  Have you ever tried to call an audible?  Flip the script?</p>
  <p class="stagedir">The Woman looks at the Man, suddenly hopeful.</p>
  <p>MAN<br/>
  If things are really so dreadful, why don’t you do something about it?  Sit on a different bench. Better yet, don’t even come to this park.  You should do whatever makes you happy, no one’s forcing you to stay&mdash;</p>
  <p class="stagedir">The Woman kisses the Man.  She pulls back and examines his face in her hands. </p>
  <p class="stagedir">She sees flickers of understanding in his eyes, but it arrives in quick bursts like bits of music in between static while scrolling AM radio.</p>
  <p>MAN<br/>
  <span class="paren">(struggling)</span><br/>
  Did that, uh...make you...happy?</p>
  <p>WOMAN<br/>
  You’re doing great.</p>
  <p>MAN<br/>
  <span class="paren">(beginning to understand)</span><br/>
  I...uh...sorry, my throat...</p>
  <p class="stagedir">The Man starts to enter the same trance the Woman experienced, only more intermittent and less intense. He starts to become aware of his surroundings.</p>
  <p>WOMAN<br/>
  It’s okay. I’m still here. Just stay with me this time, okay? Please. I’ll keep trying but please just stay with me this one time.</p>
  <p class="stagedir">She takes his hand and stands up in the exact same spot she stood at the very beginning.  She closes her eyes.  The Man stands next to her, gripping her hand, frightened and confused.  Then:</p>
</div>

<div class="spncplaytext stagedir">
<p>BLACKOUT.</p>
</div>
</div>

  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js" ></script> 
  <script src="../../bower_components/gsap/src/uncompressed/jquery.gsap.js"></script>
  <script src="../../bower_components/gsap/src/uncompressed/TimelineMax.js"></script>  
  <script src="../../bower_components/gsap/src/uncompressed/TweenMax.js"></script>  
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <script src="../../bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>    
  <script src="../../bower_components/js-cookie/src/js.cookie.js"></script>    
  <script src="../scripts/spnc.js"></script>
  <script src="../scripts/more.js"></script>
  </body>

</html>