/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.navbar-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 125%;
  margin: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  font-family: 'Arvo', serif;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 500%;
  z-index: 10;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  z-index: 10;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.grid-text {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 2%;
  right: 2%;
  display: none;
  font-size: 125%;
}

.grid-header-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}

.text,
.text-desc {
  font-family: 'Arvo', serif;
}

.text-desc {
  font-style: italic;
}

#cover-logo {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 5%;
}

#cover-play {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 48%;
  display: block;
  font-family: 'Arvo', sans-serif;
  font-size: 250%;
}

#cover-text {
  display: block;
  font-family: 'Arvo', sans-serif;
  font-size: 250%;
}

/*ScrollMagic Plays*/

#opening {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/playcurtain.png);
  background-repeat: no-repeat;
  background-size: 400%;
}

#playsheader {
  position: absolute;
  margin-top: 475px;
  margin-left: 15%;
}

.playheader {
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
}

.playdesc {
  position: absolute;
  margin-top: 300px;
  margin-left: 50px;
}

.playppl {
  position: absolute;
  margin-top: 500px;
  margin-left: 50px;
}

.readplay {
  position: absolute;
  z-index: 10;
  margin-top: 600px;
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}
#slideContainer {
  width: 100%; /* to contain 4 panels, each with 100% of window width */
  height: 400%;
}
.panel {
  height: 25%;
  width: 100%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  background-color: transparent;
}

#pinned {
    width: 400px;
    height: 400px;
}

#first {
  background-image: url(http://placekitten.com/300/300);
}

#second {
  background-image: url(http://placekitten.com/400/400);
}

#third {
  background-image: url(http://placekitten.com/500/500);
}

#fourth {
  background-image: url(http://placekitten.com/600/600);
}

#fifth {
  background-image: url(../img/spnc01.jpg);
}

#sixth {
  background-image: url(../img/spnc02.jpg);
}

.playimg {
  position: absolute;
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
}

#covervid {
  position: relative;
  z-index: 0;
}

#mobile-desc {
  display: none;
  font-family: 'Arvo', sans-serif;
  font-size: 120%;
  margin: 5px;
}

.modal, .modal-title {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 120%;
  font-weight: bold;
  text-shadow: none;
}

.modal-content, .modal-dialog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.modal-title {
  font-size: 200%;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background-color: #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.33%;
}

.grid-item {
  float: left;
/*  border: 1px solid #fff;*/
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/*
 * Affix and center
 */

@media screen and (max-width: 999px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .grid-sizer,
  .grid-item {
    width: 50%;
  }

  #cover-logo {
    display: none;
  }

  #mobile-desc {
    display: block;
  }

  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: left;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

}

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin-right: 5px;
  }
}

@media screen and (max-width: 580px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .navbar-brand {
    width: 80%;
  }
}